.dashboard {
  width: 100%;
  height: 100vh;
  padding: 2rem;
  overflow-x: hidden;
  overflow-y: scroll;
  /* margin-right: 3rem; */
}
.preview-email {
  border-bottom: var(--underline);
  padding: 1.3rem;
}
.preview-email-subject {
  font-weight: 500;
  color: #202124;
  font-size: 2rem;
  display: inline;
  overflow: hidden;
  white-space: nowrap;
}
.preview-email-body {
  clear: both;
  overflow: hidden;
  white-space: nowrap;
  color: #646368;
  font-size: 1.7rem;
}
