.navbar {
  display: flex;
  align-items: center;
  justify-content: space-between;
  border-bottom: var(--underline);
  padding: 0 2rem;
  height: 100%;
}
.avatar img {
  width: 4rem;
  height: 4rem;
  border-radius: 50%;
}
.navbar-left,
.navbar-right {
  display: flex;
  align-items: center;
  gap: 2rem;
}
.navbar-left:hover {
  cursor: pointer;
}
.icon {
  color: #5f6368;
  font-size: 1.4em;
  transition: all 1000 ease-out;
}
.icon:hover {
  transform: scale(1.2);
  cursor: pointer;
}
.navbar-title {
  color: #696d71;
  font-weight: bold;
  font-weight: 500;
  font-size: 2.1rem;
}
