.searchbar {
  width: 55%;
  height: 5rem;
  background-color: #f1f3f4;
  border-radius: 9px;
  display: flex;
  align-items: center;
  padding: 1rem 2rem;
  gap: 2rem;
}
.input {
  border: none;
  height: 100%;
  width: 90%;
  background-color: #f1f3f4;
  font-size: 1.8rem;
  color: #696d71;
}
.input:focus {
  outline: none;
}
.searchbar-icon {
  color: #5f6368;
  font-weight: bold;
}
.searchbar-icon:hover {
  transform: scale(1.1);
  cursor: pointer;
}
form {
  margin-right: auto;
}
