aside {
  width: 20%;
  display: flex;
  flex-direction: column;
  gap: 1.5rem;
  padding-top: 4rem;
}
.single-filter {
  padding: 0.5rem 0 0.5rem 2rem;
  display: flex;
  gap: 2rem;
  align-items: center;
}
.single-filter img {
  filter: saturation(1);
}
.active {
  width: 100%;
  background: #f1f3f4;
  border-top-right-radius: 100px;
  border-bottom-right-radius: 100px;
  font-weight: bold;
}

.single-filter:hover {
  background: #f1f3f4;
  border-top-right-radius: 100px;
  border-bottom-right-radius: 100px;
}
