.email-full-view {
  width: 80%;
  height: 100%;
  padding: 3rem;
  display: flex;
  flex-direction: column;
  gap: 4rem;
}
.heading {
  display: flex;
  gap: 2rem;
}

.email-full-view .title {
  font-weight: 500;
  color: #202124;
  font-size: 2rem;
}

.email-full-view .body {
  color: #646368;
  font-size: 1.7rem;
}
.email-full-view span {
  font-size: 1.7rem;
  background: #717579e7;
  color: #202124;
  padding: 2px 4px;
  border-radius: 4px;
}
